
@model IEnumerable<TaskManagementSystem.TaskSheets.Dto.TaskSheetDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Tasks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td>@team.Title</td>
                <td>@team.Description</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = team.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = team.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New Task</a>
